.app-container {
  text-align: center;
}

.app-header {
  background-color: #4400ff; /* Rouge EBS FF0000 */ 
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.app-logo {
  height: 80px;
}

.app-main {
  padding: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

/* Style pour le bandeau iOS */
@supports (-webkit-touch-callout: none) {
  .app-header {
    padding-top: env(safe-area-inset-top);
  }
}

/* Remplacez la règle média existante par celle-ci */
@media screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .app-header {
    padding-top: env(safe-area-inset-top);
    background-color: #FF0000;
  }
}

