.app-header {
  background-color: #FF0000;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.app-logo {
  height: 80px;
}

.app-main {
  padding: 20px;
}

.search-input {
  width: 100%;
  font-size: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-container {
  margin-bottom: 30px;
}
